{% extends 'blog/base.html' %}
{% load i18n static %}

{% block page_title %}Admin Login | Viir Phuria{% endblock %}
{% block meta %}
  {% include 'includes/meta.html' with meta_title='Admin Login | Viir Phuria' meta_description='Private administration login.' meta_robots='noindex,nofollow,noarchive' %}
{% endblock %}

{% block navbar %}
  {% include 'includes/site-navbar.html' with navbar_title='Viir' navbar_subtitle='Dashboard' hide_sidebar=True %}
{% endblock %}

{% block content %}
<form method="POST" action="{{ app_path }}">
    <section id="section">
        <span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span>
        <span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span>
        <span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span>
        <span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span>
        <span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span>
        <span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span>
        <span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span>
        <span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span>
        <span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span>
        <span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span>
        <span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span>
        <span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span>
        <span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span>
        <span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span>
        <span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span>
        <span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span><span class="bg-span green"></span>
        
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">

        <div class="signin">
            <div class="content">
                <h2>Admin Sign In</h2>
                
                {% if form.errors and not form.non_field_errors %}
                    <div class="alert alert-danger" style="margin-bottom: 20px; font-size: 14px; text-align: center;">
                        <strong>Error:</strong> {% blocktrans %}Please correct the errors below.{% endblocktrans %}
                    </div>
                {% endif %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" style="margin-bottom: 20px; font-size: 14px; text-align: center;">
                            <strong>Error:</strong> {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
                
                {% if user.is_authenticated %}
                <div class="alert alert-warning" style="margin-bottom: 20px; font-size: 14px; text-align: center;">
                    <strong>Warning:</strong> You are authenticated as {{ user.username }}, but are not authorized to access this page. Would you like to login to a different account?
                </div>
                {% endif %}

                <div class="form">
                    <div class="inputBox">
                        <label for="id_username" class="visually-hidden">Username</label>
                        <input type="text" name="username" id="id_username" required placeholder=" " autofocus>
                        <label>Username</label>
                    </div>
                    <div class="inputBox">
                        <label for="id_password" class="visually-hidden">Password</label>
                        <input type="password" id="id_password" name="password" required placeholder=" ">
                        <label>Password</label>
                        <span class="toggle-password" id="togglePassword" tabindex="0" role="button" aria-label="Toggle password visibility">
                            <i class="toggle-password-icon fa-solid fa-eye"></i>
                        </span>

                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Log in" formmethod="post">
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
{% endblock content %}

