{% extends 'blog/base.html' %}
{% block meta %}
  {% if article %}
    {% if article.image %}
      {% include 'includes/meta.html' with meta_title=article.title meta_description=article.content|striptags|truncatechars:160 meta_image=article.image.url %}
    {% else %}
      {% include 'includes/meta.html' with meta_title=article.title meta_description=article.content|striptags|truncatechars:160 %}
    {% endif %}
  {% endif %}
{% endblock %}
{% load static %}

{% block content %}

<div class="row">
  <div class="col-md-4 col-12 mx-md-5 mx-2 mt-md-3 my-3">
    <a class="btn btn-outline-secondary" href="/blogspace">Go Back</a>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-11 mx-md-auto mb-3 pb-2 mx-3">
    <h1>{{article.title }}</h1>
    <center><img src="/media/{{ article.image }}" alt="" width="60%"></center>
    <p>{{ article.date }}</p>
    <div>{{ article.content|safe }}</div>
    <br>
    <span id="likes-display">{{ article.likes }} people liked your blog</span><button class="btn like-btn" id="btn"
      onclick="like_change()" data-action="like" data-model-id="{{ article.id }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="bi bi-heart"><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/></svg></button>



  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  // Pass Django template URL to the external JS
  var blogPostAjaxUrl = "{% url 'detail_blog' object.slug %}";
</script>
<script src="{% static 'js/blog-post.js' %}?v=20260526b"></script>
<center>
  <div>
    {% if error_data == "error" %}
    <div class="alert alert-danger">
      <strong>Error:</strong>Please fill out the required field
    </div>
    {% endif %}

    <p>{{ comment_form.errors }}</p>
    <form method="POST">
      {% csrf_token %}
      {{ comment_form.as_p }}
      {{ comment_form.article.as_hidden}}
      <button class="btn btn-success" type="submit">Comment <svg xmlns="http://www.w3.org/2000/svg" width="16"
          height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
          <path
            d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
        </svg></button>
    </form>
  </div>
</center>
<div class="comments-section">
  <h3>Comments</h3>
  {% for i in comment %}
  <p><b>{{ i.name }}</b> commented</p>
  <p>{{ i.comment }}</p>
  {% endfor %}
</div>
{% endblock content %}