{% extends 'blog/base.html' %}

{% block content %}
<div class="col-md-6 col-12 mx-md-auto px-3 mt-5 mb-5 text-center">
	<h1 class="fw-bolder">Blog Spot</h1>

	{% if submitted %}
	<div class="btn btn-success">Subscribed</div>
	{% else %}
	<form action="" method="post">
		{% csrf_token %}
		<div class="form-group subscribe-form-group">
			<input type="email" class="form-control subscribe-input" id="umail" name="email"
				placeholder="Subscribe to our blogs">
			<button name="button" value="{{ success }}" type="submit" class="btn btn-info subscribe-btn">
				Submit
			</button>
		</div>
	</form>
	{% endif %}
</div>
{% load static %}
<div class="row justify-content-center px-3">

	{% for object in object_list %}
	<div class="col-lg-4 col-md-6 col-sm-12 mb-4 ">
		<div class="card">
			{% if object.image %}
			<img src="/media/{{ object.image }}" class="card-img-top">
			{% else %}
			<img src="/media/default-ui-image-placeholder-wireframes-600nw-1037719192 (1).png" class="card-img-top">
			{% endif %}
			<div class="card-body">
				<h5 class="card-title">{{ object.title }}</h5>
				<p>{{ object.date }}</p>

				{% if object.likes == 1 %}
				<p>{{ object.likes }} person likes this post</p>
				{% else %}
				<p>{{ object.likes }} people like this post</p>
				{% endif %}
				<div class="my-3">
					{{ object.content|truncatewords_html:20|safe}}
				</div>
				<a href="{% url 'detail_blog' object.id %}" class="btn btn-primary">Read More</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock content %}