{% extends 'blog/blog-base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/blog-editor.css' %}">

<main class="main-content">
    <div class="container admin-panel">
        <div class="admin-header">
            <a href="/create" class="create-btn">
                <i class="fas fa-plus-circle"></i>
                Create New Blog
            </a>
        </div>

        {% if article %}
        <ul class="blogs-list">
            {% for object in article %}
            <li class="blog-item">
                <div class="blog-item-header">
                    <h3 class="blog-item-title">{{ object.title }}</h3>
                </div>
                <div class="blog-item-body">
                    <div class="blog-actions">
                        <a class="action-btn btn-update" href="{% url 'updateview' pk=object.pk %}">
                            <i class="fas fa-edit"></i>
                            Update
                        </a>
                        <a class="action-btn btn-delete" href="{% url 'delete_article' pk=object.pk %}">
                            <i class="fas fa-trash-alt"></i>
                            Delete
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="empty-state">
            <i class="fas fa-folder-open"></i>
            <h3>No Blogs Yet</h3>
            <p>Start creating your first blog post!</p>
        </div>
        {% endif %}
    </div>
</main>
{% endblock content %}