{% extends 'LIGHT/index.html' %}
{% load static %}
{% block content %}
<section class="br-experience padding-tb-80">
<div class="container">
    <div class="row">
        <div class="section-title">
            <h2>My <span>Certificates</span></h2>
            <span class="ligh-title">Certificates</span>
        </div>
        <style>
            @media screen and (min-width:500px){
                .timeline-item{
                    min-width:453px !important;
                    width:40% !important;
                }
            }
            .timeline-item{
                width:97%;
            }
            .container{
                margin-left:0px !important;
                margin-right:0px !important;
            }
        </style>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="education br-ex-box m-b-991">
                <ul class="timeline" style="display:flex; flex-wrap:wrap; gap:15px; justify-content:center; width:98vw;">
                    {% for object in certificate %}
                    
                    <li class="timeline-item" style="height: 150px; " data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
                        <div class="timeline-info">
                            <span>{{ object.date }}</span>
                        </div>
                        <div class="timeline-content">
                            <h5 class="timeline-title">{{ object.title }}<span class="sub">- {{ object.criteria }}
                                    </span></h5>
                            <p>{{ object.platorm }} &nbsp <a href="{{ object.url }}" target="_blank" class="br-learn-more-right" >
                                <span  class="text" style="transform: matrix(1, 0, 0, 1, 0, 0);">View Certificate</span>
                            </a></p>
                        </div>
                    </li>
                
                    {% endfor %}
                    
                    </li>
                </ul>

            </div>
        </div>
        
    </div>

</div>
</section>
{% endblock %}