<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>VIIR PHURIA</title>

    <!-- site Favicon -->
    <link rel="icon" href="viir logo.png" sizes="32x32">
    <link rel="apple-touch-icon" href="viir logo.png">
    <meta name="msapplication-TileImage" content="viir logo.png">

    <!-- css All Plugins Files -->
    <style>
    {% include 'LIGHT/bootstrap.css' %}
    {% include 'LIGHT/jquery.fancybox.min.css' %}
    {% include 'LIGHT/slick.min.css' %}
    {% include 'LIGHT/style.css' %}
    {% include 'LIGHT/responsive.css' %}
    </style>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="jquery.fancybox.min.css">
    <link rel="stylesheet" href="slick.min.css">

    <!-- Main Style -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
<style>
    html{
        scroll-behavior: smooth;
    }
    .dissappear{
       right: 250px !important;
        transition: right 1s ease;
    }
</style>
</head>

<body class="" style="background-color: white;">
    <!-- Site loader  -->
    <div class="br-loader" style="display: none;">
        <div class="br-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Header Start -->
    <header>
        <nav>
            <div style="position: fixed;">
                <label id="theme-toggle-button">
                    <input type="checkbox" id="toggle" >
                    <svg style="width: 20vw; max-width: 110px;" onclick="toggleStyles()" viewBox="0 0 69.667 44" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                      <g transform="translate(3.5 3.5)" data-name="Component 15 – 1" id="Component_15_1">
                        
                        
                        <g filter="url(#container)" transform="matrix(1, 0, 0, 1, -3.5, -3.5)">
                          <rect fill="#83cbd8" transform="translate(3.5 3.5)" rx="17.5" height="35" width="60.667" data-name="container" id="container"></rect>
                        </g>
                        
                        <g transform="translate(2.333 2.333)" id="button">
                          
                          <g data-name="sun" id="sun">
                            <g filter="url(#sun-outer)" transform="matrix(1, 0, 0, 1, -5.83, -5.83)">
                              <circle fill="#f8e664" transform="translate(5.83 5.83)" r="15.167" cy="15.167" cx="15.167" data-name="sun-outer" id="sun-outer-2"></circle>
                            </g>
                            <g filter="url(#sun)" transform="matrix(1, 0, 0, 1, -5.83, -5.83)">
                              <path fill="rgba(246,254,247,0.29)" transform="translate(9.33 9.33)" d="M11.667,0A11.667,11.667,0,1,1,0,11.667,11.667,11.667,0,0,1,11.667,0Z" data-name="sun" id="sun-3"></path>
                            </g>
                            <circle fill="#fcf4b9" transform="translate(8.167 8.167)" r="7" cy="7" cx="7" id="sun-inner"></circle>
                          </g>
                          
                            
                          <g data-name="moon" id="moon">
                            <g filter="url(#moon)" transform="matrix(1, 0, 0, 1, -31.5, -5.83)">
                              <circle fill="#cce6ee" transform="translate(31.5 5.83)" r="15.167" cy="15.167" cx="15.167" data-name="moon" id="moon-3"></circle>
                            </g>
                            <g fill="#a6cad0" transform="translate(-24.415 -1.009)" id="patches">
                              <circle transform="translate(43.009 4.496)" r="2" cy="2" cx="2"></circle>
                              <circle transform="translate(39.366 17.952)" r="2" cy="2" cx="2" data-name="patch"></circle>
                              <circle transform="translate(33.016 8.044)" r="1" cy="1" cx="1" data-name="patch"></circle>
                              <circle transform="translate(51.081 18.888)" r="1" cy="1" cx="1" data-name="patch"></circle>
                              <circle transform="translate(33.016 22.503)" r="1" cy="1" cx="1" data-name="patch"></circle>
                              <circle transform="translate(50.081 10.53)" r="1.5" cy="1.5" cx="1.5" data-name="patch"></circle>
                            </g>
                          </g>
                        </g>
                        
                        
                        <g filter="url(#cloud)" transform="matrix(1, 0, 0, 1, -3.5, -3.5)">
                          <path fill="#fff" transform="translate(-3466.47 -160.94)" d="M3512.81,173.815a4.463,4.463,0,0,1,2.243.62.95.95,0,0,1,.72-1.281,4.852,4.852,0,0,1,2.623.519c.034.02-.5-1.968.281-2.716a2.117,2.117,0,0,1,2.829-.274,1.821,1.821,0,0,1,.854,1.858c.063.037,2.594-.049,3.285,1.273s-.865,2.544-.807,2.626a12.192,12.192,0,0,1,2.278.892c.553.448,1.106,1.992-1.62,2.927a7.742,7.742,0,0,1-3.762-.3c-1.28-.49-1.181-2.65-1.137-2.624s-1.417,2.2-2.623,2.2a4.172,4.172,0,0,1-2.394-1.206,3.825,3.825,0,0,1-2.771.774c-3.429-.46-2.333-3.267-2.2-3.55A3.721,3.721,0,0,1,3512.81,173.815Z" data-name="cloud" id="cloud"></path>
                        </g>
                  
                        
                        <g fill="#def8ff" transform="translate(3.585 1.325)" id="stars">
                          <path transform="matrix(-1, 0.017, -0.017, -1, 24.231, 3.055)" d="M.774,0,.566.559,0,.539.458.933.25,1.492l.485-.361.458.394L1.024.953,1.509.592.943.572Z"></path>
                          <path transform="matrix(-0.777, 0.629, -0.629, -0.777, 23.185, 12.358)" d="M1.341.529.836.472.736,0,.505.46,0,.4.4.729l-.231.46L.605.932l.4.326L.9.786Z" data-name="star"></path>
                          <path transform="matrix(0.438, 0.899, -0.899, 0.438, 23.177, 29.735)" d="M.015,1.065.475.9l.285.365L.766.772l.46-.164L.745.494.751,0,.481.407,0,.293.285.658Z" data-name="star"></path>
                          <path transform="translate(12.677 0.388) rotate(104)" d="M1.161,1.6,1.059,1,1.574.722.962.607.86,0,.613.572,0,.457.446.881.2,1.454l.516-.274Z" data-name="star"></path>
                          <path transform="matrix(-0.07, 0.998, -0.998, -0.07, 11.066, 15.457)" d="M.873,1.648l.114-.62L1.579.945,1.03.62,1.144,0,.706.464.157.139.438.7,0,1.167l.592-.083Z" data-name="star"></path>
                          <path transform="translate(8.326 28.061) rotate(11)" d="M.593,0,.638.724,0,.982l.7.211.045.724.36-.64.7.211L1.342.935,1.7.294,1.063.552Z" data-name="star"></path>
                          <path transform="translate(5.012 5.962) rotate(172)" d="M.816,0,.5.455,0,.311.323.767l-.312.455.516-.215.323.456L.827.911,1.343.7.839.552Z" data-name="star"></path>
                          <path transform="translate(2.218 14.616) rotate(169)" d="M1.261,0,.774.571.114.3.487.967,0,1.538.728,1.32l.372.662.047-.749.728-.218L1.215.749Z" data-name="star"></path>
                        </g>
                      </g>
                    </svg>
                  </label>
                  <style>
                   #theme-toggle-button {
                font-size: 17px;
                position: relative;
                display: inline-block;
                width: 7em;
                cursor: pointer;
              }
              
              /* Hide default HTML checkbox */
              #toggle {
                opacity: 0;
                width: 0;
                height: 0;
              }
              
              #container,
              #patches,
              #stars,
              #button,
              #sun,
              #moon,
              #cloud {
                transition-property: all;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 0.25s;
              }
              
              /* night sky background */
              #toggle:checked + svg #container {
                fill: #2b4360;
              }
              
              /* move button to right when checked */
              #toggle:checked + svg #button {
                transform: translate(28px, 2.333px);
              }
              
              /* show/hide sun and moon based on checkbox state */
              #sun {
                opacity: 1;
              }
              
              #toggle:checked + svg #sun {
                opacity: 0;
              }
              
              #moon {
                opacity: 0;
              }
              
              #toggle:checked + svg #moon {
                opacity: 1;
              }
              
              /* show or hide background items on checkbox state */
              #cloud {
                opacity: 1;
              }
              
              #toggle:checked + svg #cloud {
                opacity: 0;
              }
              
              #stars {
                opacity: 0;
              }
              
              #toggle:checked + svg #stars {
                opacity: 1;
              }
                  </style>
            </div>
            <button class="br-sidebar-toggle" fdprocessedid="ji9wpg">
                
                <svg onclick="menu()" xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 24 24" fill="none" src="assets/img/icons/menu.svg" class="svg_img" alt="menu">
<path d="M17.5399 8.30989C18.8986 8.30989 20 7.20851 20 5.84989C20 4.49127 18.8986 3.38989 17.5399 3.38989C16.1813 3.38989 15.08 4.49127 15.08 5.84989C15.08 7.20851 16.1813 8.30989 17.5399 8.30989Z" stroke="#8c6fff" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M6.46001 8.30989C7.81863 8.30989 8.92 7.20851 8.92 5.84989C8.92 4.49127 7.81863 3.38989 6.46001 3.38989C5.10139 3.38989 4 4.49127 4 5.84989C4 7.20851 5.10139 8.30989 6.46001 8.30989Z" stroke="#ff6f6f" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M17.5399 20.6099C18.8986 20.6099 20 19.5086 20 18.1499C20 16.7913 18.8986 15.6899 17.5399 15.6899C16.1813 15.6899 15.08 16.7913 15.08 18.1499C15.08 19.5086 16.1813 20.6099 17.5399 20.6099Z" stroke="#ff6f6f" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M6.46001 20.6099C7.81863 20.6099 8.92 19.5086 8.92 18.1499C8.92 16.7913 7.81863 15.6899 6.46001 15.6899C5.10139 15.6899 4 16.7913 4 18.1499C4 19.5086 5.10139 20.6099 6.46001 20.6099Z" stroke="#ff6f6f" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
            </button>
        </nav>
    </header>
    <!-- Header End -->

    <!-- Sidebar Start -->
    <div class="br-sidebar-overlay"></div>
    <div class="br-sidebar" >
        <div class="menu-list" >
            <a href="javascript:void(0)" onclick="menu()" class="close-sidebar">×</a>
            <ul class="navbar-nav mb-2 ml-auto" id="top-menu">
                <li class="nav-item">
                    <a class="nav-link br-nav" aria-current="page" href="#home" onclick="design(event)">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link br-nav" href="#about" onclick="design(event)">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link br-nav" href="#experience" onclick="design(event)">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link br-nav" href="#service" onclick="design(event)">Service</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link br-nav" href="#portfolio" onclick="design(event)">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link br-nav" href="#news" onclick="design(event)">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link br-nav" href="#contact" onclick="design(event)">Contacts</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Sidebar End -->

    <!-- Hero Start -->
    <section id="home" class="br-hero margin-b-50">
        <div class="br-text-1">PROFESSIONAL</div>
        <div class="br-text-2">RESUME</div>
        <div class="container">
            <div class="hero-content">
                <div class="hero-item static">
                    <div class="br-hero-detail">
                        <h1 class="br-hero-title title-right-overflow"><span id="myself">My Self,<br> <span class="name">&nbsp; Rob Oliver</span></span>
                        </h1>
                        <p class="br-hero-detail">Lorem Ipsum is simply
                            dummy text of the printing industry. Lorem Ipsum has been the industry's.</p>
                        <a href="D:\Portfolio\CV.pdf" class="br-learn-more-right">
                            <span class="text" style="transform: matrix(1, 0, 0, 1, 0, 0);">Download CV</span>
                        </a>
                    </div>
                    <div class="br-hero-img">
                        <div class="br-card" data-tilt="" style="will-change: transform; transform: perspective(1400px) rotateX(0deg) rotateY(0deg);">
                            
                            {% load static %}
                            <img src="{% static 'image.png' %}" alt="vasantbhai">
                        <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;"><div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 700px; height: 700px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div></div></div>
                    </div>
                    <div class="br-hero-name">
                        <h3>I am a <br><span>Engineer</span></h3>
                    </div>
                </div>
                <div class="art"></div>
            </div>
        </div>
    </section>
    <!-- Hero End -->

    <!-- About section -->
    <section id="about" class="br-about padding-tb-80 sec-bg">
        <div class="container">
            <div class="row">
                {% for object in about %}
                <div class="section-title">
                    <h2>About<span> Me</span></h2>
                    <span class="ligh-title">About</span>
                </div>
                <div class="col-lg-6">
                    <div class="br-skill-progress m-b-991">
                        <div class="br-hero-img">
                        <div class="br-card" data-tilt="" style="will-change: transform; transform: perspective(1400px) rotateX(0deg) rotateY(0deg);">
                            
                            {% load static %}
                            <img src="media/{{ object.image }}" alt="vasantbhai" style="border-radius: 10%; width: 90vw; max-width: 400px;">
                        <div class="js-tilt-glare" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;"><div class="js-tilt-glare-inner" style="position: absolute; top: 50%; left: 50%; pointer-events: none; background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); width: 700px; height: 700px; transform: rotate(180deg) translate(-50%, -50%); transform-origin: 0% 0%; opacity: 0;"></div></div></div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="br-about-detail">
                        
                        <h4>{{ object.content }}</h4>
                        
                        <div class="br-about-info">
                            <ul class="m-r-30">
                                <li><span class="title">Full Name<b>:</b></span>{{ object.name }}</li>
                                <li><span class="title">Age<b>:</b></span>{{ object.age }} Years</li>
                                <li><span class="title">Language<b>:</b></span>{{ object.language }}</li>
                                <li><span class="title">Phone No<b>:</b></span>{{ object.phone_no }}</li>
                                <li><span class="title">Email<b>:</b></span>{{ object.email }}</li>
                                <li><span class="title">Address<b>:</b></span><span>{{ object.address }}</span></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- About section End -->

    <!-- Start Experience & Education section -->
    <section id="experience" class="br-experience padding-tb-80">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2>My <span>Resume</span></h2>
                    <span class="ligh-title">Achievements</span>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="education br-ex-box m-b-991">
                        <h4>Education</h4>
                        <ul class="timeline">
                            {% for object in education %}
                            <li class="timeline-item" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
                                <div class="timeline-info">
                                    <span>{{ object.date }}</span>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="timeline-title">{{ object.title }}<span class="sub">- {{ object.rank }}
                                            </span></h5>
                                    <p>{{ object.subject }}</p>
                                </div>
                            </li>
                            {% endfor %}
                            
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="experiense br-ex-box">
                        <h4>Experience</h4>
                        <ul class="timeline">
                            {% for object in experience %}
                            <li class="timeline-item">
                                <div class="timeline-info">
                                    <span>{{ object.date }}</span>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="timeline-title">{{ object.title }}<span class="sub">- {{ object.rank }}</span></h5>
                                    <p>{{ object.subject }}</p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Experience & Education Section -->

    <!-- Start service section -->
    <section id="service" class="br-service padding-tb-80 sec-bg">
        <div class="container">
            <div class="section-title d-none">
                <h2>My<span> service</span></h2>
                <span class="ligh-title">service</span>
            </div>
            <div class="row service-box m-tb-minus-15px">
                {% for object in skills %}
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="flipper">
                        <div class="main-box">
                            <div class="box-front height-300 white-bg">
                                <div class="content-wrap">
                                    <div class="icon">
                                        {{ object.icon|safe }}</div>
                                    <h3>{{ object.title }}</h3>
                                    <p>{{ object.front_content }}</p>
                                </div>
                            </div>
                            <div class="box-back height-300 gradient-bg">
                                <div class="content-wrap">
                                    <h3>{{ object.title }}</h3>
                                    <p>{{ object.back_content }}</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
                
            </div>
        </div>
    </section>
    <!-- End service section -->
    <section id="skills" class="padding-tb-80">
<div class="container">
    <div class="section-title">
        <h2>My <span>Skills</span></h2>
    </div>
    <div style="display: flex; flex-wrap: wrap; gap: 10px;">
    {% for object in language %}
    <div class="col-md-12 col-sm-12" style="flex: 1 1 200px; padding: 20px; box-sizing: border-box;">
    <h4>{{ object.language }}</h4>
    <div style="" class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: {{ object.percentage }}%; background-color: #8c6fff;"></div>
      </div>
    </div>
    {% endfor %}
    </div>
    
      
      
</div>
    </section>
    <!-- Start Portfolio Section -->
    <section id="portfolio" class="br-portfolio padding-tb-80">
        <div class="container">
            <div class="section-title">
                <h2>My <span>Projects</span></h2>
                <span class="ligh-title">Portfolio</span>
            </div>
            <div class="row m-b-minus-24px">
                <div class="portfolio-content" id="MixItUp11665E">
                    <div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="portfolio-tabs">
                                    <ul>
                                        <li class="filter mixitup-control-active" data-filter="all" onclick="design(event)">ALL</li>
<li class="filter" data-filter=".design" onclick="design(event)">DESIGN</li>
<li class="filter" data-filter=".development" onclick="design(event)">DEVELOPMENT</li>
<li class="filter" data-filter=".graphics" onclick="design(event)">GRAPHICS</li>
<li class="filter" data-filter=".templates" onclick="design(event)">TEMPLATES</li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="portfolio-content-items">
                                    <div class="row m-b-minus-30px">
                                        {% for object in projects %}
                                        <div  class="col-lg-6 mix graphics templates {{ object.category }}" >
                                            <div class="br-project-box ">
                                                <h3>{{ object.title }}</h3>
                                                <div class="links">
                                                    <a href="index.html">{{ object.topic }}</a> |
                                                    
                                                </div>
                                                <p>{{ object.content }}<a href="index.html">Read more</a>
                                                </p>
                                                <div class="br-info">
                                                    <div class="portfolio-img">
                                                        <a class="" data-fancybox="gallery" href="media/{{ object.image }}" style="background-image: url('media/{{ object.image }}') ">
                                                            
                                                        </a>
                                                    </div>
                                                    <div class="br-detail">
                                                        <ul>
                                                            <li>Date : {{ object.date }}</li>
                                                            <li>Client : {{ object.client }}</li>
                                                            <li>Tech : {{ object.tech }}</li>
                                                            <li>Type : {{ object.tech }}</li>
                                                            <li>URL : <a href="{{ object.url }}">www.your-project-url.com</a></li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Portfolio Section -->
<section id="news" class="padding-tb-80">
    <div class="container">
    <div class="section-title">
        <h2>My <span>Blogs</span></h2>
        <span class="ligh-title">Blogs</span>
    </div>
    <div class="row">
        {% for object in object_list|slice:":3" %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4 ">
            <div class="card">
                {% if object.image %}
                <img src="/media/{{ object.image }}" class="card-img-top">
                {% else %}
                <img src="/media/default-ui-image-placeholder-wireframes-600nw-1037719192 (1).png" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ object.title }}</h5>
                    <p>{{ object.date }}</p>
                    
                    {% if object.likes.count == 1 %}
                    <p>{{ object.likes }} person likes this post</p>
                    {% else %}
                    <p>{{ object.likes }} people like this post</p>
                    {% endif %}
                    <div class="my-3">
                    {{ object.content|truncatewords_html:20|safe}}
                    </div>
                    <a href="{% url 'detail_blog' object.id %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <a href="/blogspot" class="btn btn-primary">More Blogs</a>
    </div>
</div>
</section>

    <!-- Start Contact Section -->
    <section id="contact" class="br-contact padding-tb-80 sec-bg">
        <div class="container d-block">
            <div class="section-title">
                <h2>Get in <span>Touch</span></h2>
                <span class="ligh-title">Contact</span>
            </div>
            <div class="row m-b-minus-30px">
                <div class="col-lg-5 col-md-12 m-b-991-20">
                    <div class="br-box">
                        <div class="detail">
                            <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                            <div class="info">
                                <h3 class="title">Mail &amp; Website</h3>
                                <p>
                                    <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; mail.example@gmail.com
                                </p>
                                <p>
                                    <i class="fa fa-globe" aria-hidden="true"></i> &nbsp; www.yourdomain.com
                                </p>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                    <div class="br-box">
                        <div class="detail">
                            <div class="icon"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                            <div class="info">
                                <h3 class="title">Contact</h3>
                                <p>
                                    <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp; (+91)-9876XXXXX
                                </p>
                                <p>
                                    <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp; (+91)-987654XXXX
                                </p>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                    <div class="br-box">
                        <div class="detail">
                            <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                            <div class="info">
                                <h3 class="title">Address</h3>
                                <p>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; Ruami Mello Moraes Filho,
                                    987 - Salvador - MA, 40352, Brazil.
                                </p>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                    <!-- /Boxes de Acoes -->
                </div>
                <div class="col-lg-7 col-md-12">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname" name="name" placeholder="Full Name" fdprocessedid="wtx1oj">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="umail" name="email" placeholder="Email" fdprocessedid="zy2osp">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="phone" name="number" placeholder="Phone" fdprocessedid="q8txrq">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="4" placeholder="Message"></textarea>
                        </div>
                        <button name="button" value="{{ success }}" type="submit" class="br-learn-more-right" fdprocessedid="cqz8h"><span class="text" style="transform: matrix(1, 0, 0, 1, 0, 0);">Submit</span></button>
                    </form>
                    {% if success %}
                    <br>
                    <div class="btn btn-success">
                        <b>Form Submitted Successfully</b>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Section -->

    <!-- Start Footer -->
    <footer class="margin-t-80">
        <div class="container">
            <div class="br-footer-detail">
                <div class="br-copy">
                    Copyright © <a class="site-name" href="index.html">Brog</a> all rights reserved. Powered by Brog.
                </div>
                <div class="br-social">
                    <ul>
                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Vendor JS -->
    <script>
    {% include 'LIGHT/jquery-3.7.1.min.js.download' %}
    {% include 'LIGHT/bootstrap.bundle.min.js.download' %}
    {% include 'LIGHT/tilt.jquery.js.download' %}
    {% include 'LIGHT/mixitup.min.js.download' %}
    {% include 'LIGHT/jquery.fancybox.min.js.download' %}
    {% include 'LIGHT/slick.min.js.download' %}
    {% include 'LIGHT/fontawesome.js.download' %}
    </script>
    <script src="jquery-3.7.1.min.js.download"></script>
    <script src="bootstrap.bundle.min.js.download"></script>
    <script src="tilt.jquery.js.download"></script>
    <script src="mixitup.min.js.download"></script>
    <script src="jquery.fancybox.min.js.download"></script>
    <script src="slick.min.js.download"></script>
    <script src="fontawesome.js.download"></script>
    <script>
        const isDarkMode = localStorage.getItem('darkMode') === 'true';

// Apply dark mode if preference is true
if (isDarkMode) {
        document.getElementsByTagName("body")[0].style.backgroundColor="rgba(12, 14, 34, 0.95)";
        document.getElementsByClassName("br-text-1")[0].style.color="#1b1d30";
        document.getElementsByClassName("br-text-2")[0].style.color="#1b1d30";
        document.getElementById("myself").style.color="#EEEEEE";
        Array.from(document.getElementsByTagName("h3")).forEach(function(element){
            element.style.color="#EEEEEE";
        });
        Array.from(document.getElementsByTagName("p")).forEach(function(element){
            element.style.color="#EEEEEE";
        });
        Array.from(document.getElementsByClassName("br-learn-more-right")).forEach(function(element){element.style.color="#EEEEEE";});
        Array.from(document.getElementsByClassName("br-learn-more-right")).forEach(function(element){element.style.borderColor="#EEEEEE";});
        Array.from(document.getElementsByTagName("h2")).forEach(function(element){
            element.style.color="#EEEEEE";
        });
        Array.from(document.getElementsByClassName("ligh-title")).forEach(function(element){
            element.style.color="#202337";
        });
        Array.from(document.getElementsByTagName("li")).forEach(function(element){
            element.style.color="#a5a3b3";
        });
        Array.from(document.getElementsByClassName("title")).forEach(function(element){
            element.style.color="#EEEEEE";
        });
        Array.from(document.getElementsByClassName("br-box")).forEach(function(element){
            element.style.backgroundColor="#202337";
            
        });
        Array.from(document.getElementsByClassName("br-box")).forEach(function(element){
            element.style.borderColor="#1b1d30";
        });
        Array.from(document.getElementsByTagName("h4")).forEach(function(element){
            element.style.color="#EEEEEE";
        });
        Array.from(document.getElementsByClassName("track")).forEach(function(element){
            element.style.stroke="#333754 !important";
        });
        document.getElementsByClassName("margin-t-80")[0].style.backgroundColor="#202337";
        Array.from(document.getElementsByClassName("timeline-item")).forEach(function(element){
            element.style.backgroundColor="#202337";
            element.style.borderColor="#353250"
        });
        Array.from(document.getElementsByClassName("timeline-item")).forEach(function(element){
            element.style.backgroundColor="#202337";
            element.style.borderColor="#353250"
        });
        Array.from(document.getElementsByClassName("box-front")).forEach(function(element){
            element.style.backgroundColor="#202337";
            element.style.borderColor="#353250"
        });
        Array.from(document.getElementsByClassName("br-project-box")).forEach(function(element){
            element.style.backgroundColor="#202337";
            element.style.borderColor="#353250"
        });
        Array.from(document.getElementsByClassName("form-control")).forEach(function(element){
            element.style.backgroundColor="#202337";
            element.style.borderColor="#353250";
            element.style.color="#EEEEEE"
        });
        document.getElementById("toggle").checked=true;
    }
    
        const styles = {
    backgroundColor: "rgba(12, 14, 34, 0.95)",
    elements: [
        { selector: 'body', property: 'backgroundColor', value: "rgba(12, 14, 34, 0.95)" },
        { selector: '.br-text-1', property: 'color', value: "#1b1d30" },
        { selector: '.br-text-2', property: 'color', value: "#1b1d30" },
        { selector: '#myself', property: 'color', value: "#EEEEEE" },
        { selector: 'h3', property: 'color', value: "#EEEEEE" },
        { selector: 'p', property: 'color', value: "#EEEEEE" },
        { selector: '.br-learn-more-right', property: 'color', value: "#EEEEEE" },
        { selector: '.br-learn-more-right', property: 'borderColor', value: "#EEEEEE" },
        { selector: 'h2', property: 'color', value: "#EEEEEE" },
        { selector: '.ligh-title', property: 'color', value: "#202337" },
        { selector: 'li', property: 'color', value: "#a5a3b3" },
        { selector: '.title', property: 'color', value: "#EEEEEE" },
        { selector: '.br-box', property: 'backgroundColor', value: "#202337" },
        { selector: '.br-box', property: 'borderColor', value: "#1b1d30" },
        { selector: 'h4', property: 'color', value: "#EEEEEE" },
        { selector: '.track', property: 'stroke', value: "#333754" }, // Note: !important not handled here
        { selector: '.margin-t-80', property: 'backgroundColor', value: "#202337" },
        { selector: '.timeline-item', property: 'backgroundColor', value: "#202337" },
        { selector: '.timeline-item', property: 'borderColor', value: "#353250" },
        { selector: '.box-front', property: 'backgroundColor', value: "#202337" },
        { selector: '.box-front', property: 'borderColor', value: "#353250" },
        { selector: '.br-project-box', property: 'backgroundColor', value: "#202337" },
        { selector: '.br-project-box', property: 'borderColor', value: "#353250" },
        { selector: '.form-control', property: 'backgroundColor', value: "#202337" },
        { selector: '.form-control', property: 'borderColor', value: "#353250" },
        { selector: '.form-control', property: 'color', value: "#EEEEEE" },
    ]
};

// Function to toggle styles
function toggleStyles() {
    const body = document.getElementsByTagName("body")[0];
    const currentColor = body.style.backgroundColor;

    const isCurrentStyleApplied = currentColor === styles.backgroundColor;

    styles.elements.forEach(({ selector, property, value }) => {
        document.querySelectorAll(selector).forEach(element => {
            element.style[property] = isCurrentStyleApplied ? "" : value;
        });
    });

    // Special handling for body backgroundColor
    body.style.backgroundColor = isCurrentStyleApplied ? "" : styles.backgroundColor;
    const currentMode = document.body.style.backgroundColor === "rgba(12, 14, 34, 0.95)";
		    localStorage.setItem('darkMode', currentMode);
}
let storedelement=document.querySelectorAll(".graphics");
function design(event) {
    // Remove the active class from all filter items
    document.querySelectorAll(".filter").forEach(item => {
        item.classList.remove("mixitup-control-active");
    });

    // Hide all project boxes

    storedelement.forEach(item => {
        item.remove();
    });

    // Add the active class to the clicked item
    const clickedItem = event.target; // Use event.target to get the clicked item
    if (clickedItem.classList.contains('filter')) {
        clickedItem.classList.add("mixitup-control-active");

        // Check if the clicked item has the data-filter value of '.design'
        if (clickedItem.getAttribute("data-filter") === ".design") {
            // Use a class selector if you have multiple elements to show
            storedelement.forEach(item => {
                if(item.classList.contains("Design")){
                    document.getElementsByClassName("m-b-minus-30px")[0].appendChild(item);
                }
            });
        }
        else if (clickedItem.getAttribute("data-filter") === "all") {
            // Use a class selector if you have multiple elements to show
            storedelement.forEach(item => {
                if(item.classList.contains("graphics")){
                    document.getElementsByClassName("m-b-minus-30px")[0].appendChild(item);
                }
            });
        }
        else if (clickedItem.getAttribute("data-filter") === ".development") {
            // Use a class selector if you have multiple elements to show
            storedelement.forEach(item => {
                if(item.classList.contains("Development")){
                    document.getElementsByClassName("m-b-minus-30px")[0].appendChild(item);
                }
            });
        }
        else if (clickedItem.getAttribute("data-filter") === ".graphics") {
            // Use a class selector if you have multiple elements to show
            storedelement.forEach(item => {
                if(item.classList.contains("Graphics")){
                    document.getElementsByClassName("m-b-minus-30px")[0].appendChild(item);
                }
            });
        }
    }
    else if(clickedItem.classList.contains("br-nav")){
        document.querySelectorAll(".br-nav").forEach(item => {
            item.parentNode.classList.remove("active");
            clickedItem.parentNode.classList.add("active");
        });
    }
}

function menu(){
    document.querySelector(".br-sidebar").classList.toggle("dissappear");
}
document.addEventListener('scroll', function() {
            let scrollPosition = window.scrollY || window.pageYOffset;

            document.querySelectorAll('section').forEach(section => {
                const sectionTop = section.offsetTop;
                const sectionHeight = section.offsetHeight;

                if (scrollPosition >= sectionTop - 50 && scrollPosition < sectionTop + sectionHeight - 50) {
                    const id = section.getAttribute('id');
                    document.querySelector(`a[href="#${id}"]`).parentNode.classList.add('active');
                } else {
                    const id = section.getAttribute('id');
                    document.querySelector(`a[href="#${id}"]`).parentNode.classList.remove('active');
                }
            });
        });
    </script>
    <style media="all" id="fa-v4-font-face">

    <!-- Scroll button animation for mouse hover Js -->
    {% include 'LIGHT/tweenmax.min.js.download' %}
    <script src="tweenmax.min.js.download"></script>

    <!-- Site Main Js -->
    {% include 'LIGHT/script.js.download' %}
    <script src="script.js.download"></script>

        

<span id="PING_IFRAME_FORM_DETECTION" style="display: none;"></span></body></html>